<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBaseFirm.Properties.Settings.ConnectionString"
            connectionString="Dsn=PostGreVS;uid=postgres;pwd=12345" providerName="System.Data.Odbc" />
        <add name="DataBaseFirm.Properties.Settings.FirmConnectionString"
            connectionString="User Id=postgres;Password=12345;Host=localhost;Database=Firm;Persist Security Info=True;Initial Schema=public"
            providerName="Devart.Data.PostgreSql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>